.popup.search-popup.algolia-search-popup
  .algolia-search
    span.algolia-search-input-icon.search-icon
      +icon('icon-search-line')
    span.algolia-search-input#algolia-search-input.search-input
    span.popup-btn-close.close-icon
      +icon('icon-close-circle-line')
  .algolia-results
    #algolia-stats
    #algolia-hits
    #algolia-pagination.algolia-pagination


if theme.vendors.algolia_instant_css
  link(rel='stylesheet', href=theme.vendors.algolia_instant_css)
if theme.vendors.algolia_instant_js
  script(src=theme.vendors.algolia_instant_js)

script(async, src=url_for(theme.algolia_search.src))

-
  var algolia = 'undefined';
  var env = process.env;
  if (theme.algolia_search.enable) {
    algolia = JSON.stringify({
      appId: env.ALGOLIA_APP_ID || config.algolia.appId || config.algolia.applicationID,
      apiKey: env.ALGOLIA_API_KEY || config.algolia.apiKey,
      indexName: env.ALGOLIA_INDEX_NAME || config.algolia.indexName,
      hits: theme.algolia_search.hits,
      // search languages
      languages: {
        input_placeholder: __("algolia_search.input_placeholder"),
        hits_empty: __("algolia_search.hits_empty"),
        hits_stats: __("algolia_search.hits_stats")
      }
    })
  }

script.
  const GLOBAL_CONFIG = { 
    root: '!{config.root}',
    algolia: !{algolia}
  } 
