#reward-container
  span#reward-button.hty-icon-button.button-glow(title=__('reward.donate'), onclick='var qr = document.getElementById("qr"); qr.style.display = (qr.style.display === "none") ? "block" : "none";')
    +icon('icon-hand-coin-line')
  if theme.reward_settings.comment
    #reward-comment!=theme.reward_settings.comment
  #qr(style='display:none;')
    for method, name in theme.reward
      - var builtin = ['qq', 'wechat-pay', 'alipay']
      - var translation = builtin.indexOf(name) !== -1 ? __('reward.' + name) : name
      div(style='display:inline-block')
        if method.path
          a(href= method.link ? method.link : method.path)
            img(loading='lazy', src=url_for(method.path), alt=author + ' ' + translation, title=author + ' ' + translation)
          div
            span(title=translation, style='color:' + method.color)
              +icon(method.icon)
