#reward-container
  span#reward-button.hty-icon-button.button-glow(title=__('reward.donate'), onclick='var qr = document.getElementById("qr"); qr.style.display = (qr.style.display === "none") ? "block" : "none";')
    +icon('icon-donate')
  #qr(style='display:none;')
    for image, name in theme.reward
      - var builtin = ['wechatpay', 'alipay']
      - var translation = builtin.indexOf(name) !== -1 ? __('reward.' + name) : name
      div(style='display:inline-block')
        img(src=url_for((theme.cdn.pre || '') + image.path), alt=author + ' ' + translation, title=author + ' ' + translation)
        div
          if name === 'wechatpay'
            - name = 'wechat-pay'
          span(title=translation, style='color:' + image.color)
            +icon('icon-' + name + '-line')