extends _partial/layout.pug

prepend title
  if page.type === 'categories'
    | #{__('title.category')}
  else if page.type === 'tags'
    | #{__('title.tag')}
  else
    | #{page.title}
  |
  | |
  |

block content
  #page
    include _partial/page/page-header.pug
    if page.type === 'tags'
      .tag-cloud
        .tag-cloud__title= _p('counter.tag_cloud', site.tags.length)
        - var start_color = theme.color ? (theme.color.tag_start_color || '#333'): '#999999'
        - var end_color = theme.color ? (theme.color.tag_end_color || theme.colors.primary) : '#1B9EF3'
        .tag-cloud-tags!= tagcloud({min_font: 12, max_font: 30, amount: 200, color: true, start_color, end_color})

    else if page.type === 'categories'
      .category-lists
        .category-lists__title= _p('counter.categories', site.categories.length)
        .category-lists-container!= list_categories()

    else
      article#page
        section.post-body(itemprop='articleBody')
          .post-content(class='post-markdown')!= page.content

    if page.reward !== undefined
      - theme.reward_settings.enable = page.reward
    if theme.reward_settings.enable
      include _partial/post/reward.pug

  if page.comments && theme.comment.enable
    include ./_third-party/comments/index.pug

  if page.katex && !theme.katex.global
    include _third-party/katex.pug

