extends _partial/layout.pug

block content
  - var post = page
  - var post_type = getPropertyByType(post.type)

  #post
    article.hty-card.post-block(itemscope, itemtype='https://schema.org/Article', style=`--smc-primary:${theme.colors.primary};`)
      include _partial/post/post-schema.pug
      header.post-header
        h1.post-title(itemprop='name headline', style=post.type ? `color: ${post_type.color}` : '')
          if post.type
            +icon(post_type.icon)
          | #{post.title}

          if theme.post_edit.enable
            include _partial/post/post-edit.pug

        +post_meta(post)

        if post.url
          a.hty-button.hty-button--raised(href=url_for(post.url), style=`margin: 1rem;background-color:${post_type.color}`)=__('post.view_link')

      include ./_partial/post/post-content.pug

      if theme.reward.enable && page.reward !== false
        include _partial/post/reward.pug

      if theme.creative_commons.license && theme.creative_commons.post
        include _partial/post/post-copyright.pug

    if post.prev || post.next
      include _partial/post/post-nav.pug
