extends _partial/layout.pug

prepend title
  | #{page.title} | 

block content
  - var post = page
  #post
    article.post-block(itemscope, itemtype='http://schema.org/Article')
      include _partial/post/post-schema.pug
      if post.type
        - var typeColor = theme.types.link.color
        - var typeIcon = theme.types.link.icon
        if post.type in theme.types
          - typeColor = theme.types[post.type].color
          - typeIcon = theme.types[post.type].icon
      header.post-header
        h1.post-title(itemprop='name headline', style=`color: ${typeColor}`)
          if post.type
            +icon(typeIcon)
          | #{post.title}

          if theme.post_edit.enable
            include _partial/post/post-edit.pug

        include _partial/post/post-meta.pug

        if post.url
          a.hty-button.hty-button--raised(href=url_for(post.url), style=`margin-top: 1rem;background-color:${typeColor}`)=__('post.view_link')

      section.post-body(itemprop='articleBody')
        .post-content(class='post-markdown')!=post.content

        if page.reward !== undefined
          - theme.reward_settings.enable = page.reward
        if theme.reward_settings.enable
          include _partial/post/reward.pug

        if theme.creative_commons.license && theme.creative_commons.post
          include _partial/post/post-copyright.pug

    if post.prev || post.next
      include _partial/post/post-nav.pug

  if page.comments && theme.comment.enable
    include ./_third-party/comments/index.pug
