if theme.aplayer.widget.meting.enable
  - var meting_option = theme.aplayer.widget.meting
  #aplayer.aplayer.no-destroy(data-id=meting_option.id, data-server=meting_option.server, data-type=meting_option.type, data-fixed="true", data-autoplay=theme.aplayer.widget.autoplay, data-theme=theme.aplayer.widget.theme || theme.colors.primary, data-loop=theme.aplayer.widget.loop, data-order=theme.aplayer.widget.order, data-preload=theme.aplayer.widget.preload, data-volume=theme.aplayer.widget.volume, data-mutex=theme.aplayer.widget.mutex, data-lrctype=theme.aplayer.widget.lrcType, data-listfolded=theme.aplayer.widget.listFolded, data-listmaxheight=theme.aplayer.widget.listMaxHeight, data-storagename="metingjs")
else
  #aplayer
  - var ap_audio = JSON.stringify(theme.aplayer.widget.audio)
  script.
    window.addEventListener("DOMContentLoaded", () => {
      const ap = new APlayer({
        container: document.getElementById('aplayer'),
        fixed: true,
        autoplay: !{theme.aplayer.widget.autoplay},
        theme: "!{theme.aplayer.widget.theme || theme.colors.primary}",
        loop: "!{theme.aplayer.widget.loop}",
        order: "!{theme.aplayer.widget.order}",
        preload: "!{theme.aplayer.widget.preload}",
        audio: !{ap_audio},
        volume: !{theme.aplayer.widget.volume},
        mutex: !{theme.aplayer.widget.mutex},
        lrcType: !{theme.aplayer.widget.lrcType},
        listFolded: !{theme.aplayer.widget.listFolded},
        listMaxHeight: "!{theme.aplayer.widget.listMaxHeight}",
        storageName: "aplayer-setting"
      });
    });