#disqus_thread
script.
  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
  var disqus_config = function () {
    this.page.url = "!{page.permalink}";  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = "!{page.path}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    this.page.title = "!{page.title}"
  };
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://#{theme.disqus.name}.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();

if theme.disqus.count
  script#dsq-count-scr(src=`//${theme.disqus.name}.disqus.com/count.js` async)
