style.
  .utterances {
    max-width: 100%;
  }
script(src="https://giscus.app/client.js"
  data-repo=theme.giscus.repo
  data-repo-id=theme.giscus['repo-id']
  data-category=theme.giscus.category
  data-category-id=theme.giscus['category-id']
  data-mapping=theme.giscus.mapping
  data-reactions-enabled=theme.giscus['reactions-enabled']
  data-emit-metadata=theme.giscus['emit-metadata']
  data-theme=theme.giscus.theme
  crossorigin="anonymous"
  async)
