link(rel='stylesheet', href=theme.vendors.gitalk_css)
script(src=theme.vendors.gitalk_js)

#gitalk-container.comment-container
script.
  var gitalk = new Gitalk({
      clientID: '!{theme.gitalk.clientID}',
      clientSecret: '!{theme.gitalk.clientSecret}',
      repo: '!{theme.gitalk.repo}',
      owner: '!{theme.gitalk.owner}',
      admin: '!{theme.gitalk.admin}',
      id: '!{page.permalink}',
      language: '!{config.language}'
    })
  gitalk.render('gitalk-container')
