//- link(rel='stylesheet', href=theme.vendors.gitalk_css)
//- script(src=theme.vendors.gitalk_js)

//- #gitalk-container.comment-container
//- script.
//-   var gitalk = new Gitalk({
//-       clientID: '!{theme.gitalk.clientID}',
//-       clientSecret: '!{theme.gitalk.clientSecret}',
//-       repo: '!{theme.gitalk.repo}',
//-       owner: '!{theme.gitalk.owner}',
//-       admin: '!{theme.gitalk.admin}',
//-       id: location.pathname,
//-       language: '!{config.language}'
//-     })
//-   gitalk.render('gitalk-container')

#gitalk-container.comment-container.text-center
  p.
    由于 GitHub 安全策略改变，临时关闭。
    如有需要，可直接前往 GitHub Issue - 进行评论。
  a.hty-button(href="https://github.com/YunYouJun/yunyoujun.github.io/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+" + page.path) 本文 Issue