style.
  .utterances {
    max-width: 100%;
  }
script(src="https://utteranc.es/client.js"
  repo=theme.utterances.repo
  issue-term=theme.utterances['issue-term']
  label=theme.utterances.label
  theme=theme.utterances.theme
  crossorigin="anonymous"
  async)
