#valine-container.comment-container
script(src='//cdn.jsdelivr.net/npm/leancloud-storage@3.13.2/dist/av-min.js')
script(src='//cdn.jsdelivr.net/npm/valine/dist/Valine.min.js')
script.
  var GUEST_INFO = ['nick', 'mail', 'link'];
  var guest_info = '{{ theme.valine.guest_info }}';
  guest_info = guest_info.split(',').filter(function(item) {
    return GUEST_INFO.indexOf(item) > -1;
  });
  new Valine({
    el: '#valine-container',
    verify: #{theme.valine.verify},
    notify: #{theme.valine.notify},
    appId: '#{theme.valine.appid}',
    appKey: '#{theme.valine.appkey}',
    placeholder: '#{theme.valine.placeholder}',
    avatar: '#{theme.valine.avatar}',
    meta: guest_info,
    pageSize: '#{theme.valine.pageSize}',
    lang: '#{config.language.toLowerCase()}'
  });