if theme.font.cdn.enable
  each item in theme.font.cdn.lib
    link(rel='stylesheet', href=item, media="none" onload="this.media='all'")

if theme.cdn.css
  each item in theme.cdn.css
    link(rel='stylesheet', href=item)

if theme.cdn.js.base
  each item in theme.cdn.js.base
    script(src=item)

if theme.cdn.js.async
  each item in theme.cdn.js.async
    script(src=item, async)

if theme.cdn.js.defer
  each item in theme.cdn.js.defer
    script(src=item, defer)

if theme.scrollreveal.enable
  script(src=theme.vendors.scrollreveal, defer)
  script.
    document.addEventListener("DOMContentLoaded", () => {
      !{JSON.stringify(theme.scrollreveal.targets)}.forEach((target)=> {
        ScrollReveal().reveal(target);
      })
    });

if theme.katex.global
  include ./katex.pug

if theme.aplayer.global
  include ./aplayer.pug

//- pjax
if theme.pjax.enable
  include ./pjax.pug

if is_page() || is_post()
  if page.katex && !theme.katex.global
    include katex.pug

  if page.aplayer && !theme.aplayer.global
    include aplayer.pug

  if page.aplayer
    script.
      document.addEventListener(
        "pjax:success",
        function() {
          if (window.aplayers) {
            loadMeting();
          }
        },
        !1
      );






