if theme.fireworks && theme.fireworks.enable
  script(defer, src=theme.vendors.anime)
  script(defer, src=url_for(theme.cdn.pre + theme.fireworks.src))
  canvas.fireworks

if theme.trianglify && theme.trianglify.enable
  canvas#trianglify
  script(defer, src=theme.vendors.trianglify)
  script.
    document.addEventListener("DOMContentLoaded", () => {
      const pattern = Trianglify({
        width: #{theme.trianglify.width},
        height: #{theme.trianglify.height},
        cell_size: #{theme.trianglify.cell_size},
        palette: !{theme.trianglify.palette},
      });
      document.body.appendChild(pattern.canvas(trianglify));
    });
