- var favicon = config.favicon || theme.favicon || '/favicon.ico'
//- favicon
link(rel='shortcut icon' type="image/svg+xml" href=url_for(favicon))
//- Safari
link(rel="mask-icon" href=url_for(favicon), color=theme.colors.primary)
link(rel="alternate icon" href="/yun.ico")

//- not use cdn.pre in dev
if process.env.NODE_ENV === 'dev'
  - theme.cdn.pre = ''

//- preload
if is_home()
  link(rel='preload', href=url_for(theme.cdn.pre + theme.banner.src), as='script')

if theme.preload
  each items, name in theme.preload
    each item in items
      link(rel='preload', href=url_for(theme.cdn.pre + item), as=name)

//- prefetch
if theme.prefetch
  each items, name in theme.prefetch
    each item in items
      link(rel='prefetch', href=url_for(theme.cdn.pre + item), as=name)

//- dns-prefetch
if theme.dns_prefetch
  each item in theme.dns_prefetch
    link(rel='dns-prefetch', href=url_for(item))

//- preconnect
if theme.preconnect
  each item in theme.preconnect
    link(rel='preconnect', href=url_for(item), crossorigin)

//- base
if theme.css !== undefined && theme.css.length > 0
  each url in theme.css
    link(rel='stylesheet', href=url_for(theme.cdn.pre + url))

if config.feed && config.feed.path
  != feed_tag(config.feed.path)

//- config
!=yun_config()

//- head custom
if theme.head.css
  each item in theme.head.css
    link(rel='stylesheet', href=url_for(item))

if theme.head.js.base
  each item in theme.head.js.base
    script(src=url_for(item))

if theme.head.js.async
  each item in theme.head.js.async
    script(src=url_for(item), async)

if theme.head.js.defer
  each item in theme.head.js.defer
    script(src=url_for(item), defer)

include ../_third-party/index.pug

//- open graph
//- to avoid conflict
if page.photos
  - var page_photos = page.photos
  - page.photos = page_photos.map(photo=>{return photo.src})

!=open_graph()

if page.photos
  - page.photos = page_photos

if theme.mode !== 'light'
  script(src=url_for('/js/ui/mode.js'))

//- no-referer
if page.type === 'albums' || page.layout === 'gallery'
  meta(name="referrer" content="no-referrer")
