- var title = (__('title') !== 'title' && __('title')) || config.title
- var description = page.description || page.title || config.description || ''
- var keywords = Array.isArray(config.keywords) ? config.keywords.join(',') : config.keywords
- if (page.tags && page.tags.data) keywords = page.tags.data.map(function(tag) {return tag.name;}).join(',')
- var author = config.email ? config.author + ',' + config.email : config.author
- var copyright = config.copyright || config.author

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)
    meta(name="author" content=author)
    meta(name="copyright" content=copyright)
    meta(name='theme-color', content=theme.colors.primary)
    - page_title(page)
    if page.title
      title=page.title + ' | ' + title
    else
      title=title
    include head.pug
    include ../_third-party/cdn.pug
    block preconnect
  body
    //- background
    include background.pug
    .container
      //- global
      include ../_mixin/index.pug
      include sidebar.pug
      main#content.sidebar-translate
        block content

        if is_post() || is_page()
          if page.comments && theme.comment.enable
            include ../_third-party/comments/index.pug

      include footer.pug
      //- widget
      include ../_widget/index.pug
    if theme.js
      each item in theme.js
        script(defer, src=url_for(theme.cdn.pre + item))
