- var title = __('title') !== 'title' && __('title') || config.title
- var description = page.description || page.title || config.description || ''
- var keywords = (config.keywords || []).join(',')
- if (page.tags && page.tags.data) keywords = page.tags.data.map(function(tag) {return tag.name;}).join(',')
- var author = config.email ? config.author + ',' + config.email : config.author
- var copyright = config.copyright || config.author

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="description" content=description)
    meta(name="keywords" content=keywords)
    meta(name="author" content=author)
    meta(name="copyright" content=copyright)
    meta(name='theme-color', content=theme.color.primary)
    title
      block title
        | #{title}
    include head.pug
    include config.pug
    include ../_third-party/cdn.pug
    each url in theme.js
      script(src=url_for(url), defer)
    if theme.css !== undefined && theme.css.length > 0
      each url in theme.css
        link(rel='stylesheet', href=url_for(url))
  body
    //- global
    include ../_third-party/icon.pug
    include sidebar.pug
    include background.pug
    include header.pug
    main#content-outer.sidebar-translate.mdc-top-app-bar--fixed-adjust
      #content-inner.layout
        block content
    footer.sidebar-translate
      include footer.pug
    include ../_widget/back-to-top.pug
    //- widget
    //- search
    if theme.local_search.enable || theme.algolia_search.enable
      include ../_widget/search/index.pug