section#recent-posts.hty-layout-grid
  each post in page.posts.data
    .hty-layout-grid__cell.hty-layout-grid__cell--span-12.animated.fadeIn
      article.hty-card.post-card(itemscope, itemtype='http://schema.org/Article')
        include ../_partial/post/post-schema.pug
        .post-card-header
          .post-header
            h2.post-title(itemprop='name headline')
              if post.type == 'yuque'
                a.post-title-link.yuque-link(itemprop='url' href=post.url target='_blank' rel='noopener')
                  i.yuque-icon
                    include ../_third-party/icon/yuque.pug
                  span=post.title
              else if post.type == 'bilibili'
                a.post-title-link.bilibili-link(itemprop='url' href=post.url target='_blank' rel='noopener')
                  +icon('icon-bilibili-line')
                  span=post.title
              else
                a.post-title-link(itemprop='url', href=url_for(post.path))=post.title
            include ../_partial/post/post-meta.pug
        .post-card-content.text-center
          .post-card-excerpt!=post.excerpt
          .post-card-readmore
            if post.type == 'yuque'
              a(href=post.url, target='_blank' rel='noopener')
                button.hty-button.hty-button--raised.yuque-button!='READ MORE'
            else if post.type == 'bilibili'
              a(href=post.url, target='_blank' rel='noopener')
                button.hty-button.hty-button--raised.bilibili-button!='READ MORE'
            else
              a(href=url_for(post.path))
                button.hty-button.hty-button--raised!='READ MORE'
        .hty-card__actions.post-card__actions
          .post-card-category
            span.post-meta-item-icon
              +icon('icon-folder-line')
            |  
            if post.categories && post.categories.length && theme.post_meta.categories
              for category, index in post.categories.data
                span
                  a(href=url_for(category.path))
                    span(itemprop='text')=category.name

                - var category_length = post.categories.length
                if category_length > 1 && index != category_length - 1
                  |  > 
          .post-card-tag
            if post.tags && post.tags.length && theme.post_meta.tags
              for tag in post.tags.data
                span.post-meta-item-icon
                  +icon('icon-price-tag-3-line')
                a(href=url_for(tag.path, rel='tag'))
                  span!='&nbsp;' + tag.name + '&nbsp;'
            else
              span.post-meta-item-icon
                +icon('icon-price-tag-3-line')