section#recent-posts.hty-layout-grid
  each post in page.posts.data
    if !post.hide
      .hty-layout-grid__cell.hty-layout-grid__cell--span-12
        article.hty-card.post-card(itemscope, itemtype='https://schema.org/Article')
          include ../_partial/post/post-schema.pug
          if post.top
            .post-top-icon
              +icon("icon-pushpin-line")
          .post-card-header
            header.post-header
              h2.post-title(itemprop='name headline')
                if !post.type
                  a.post-title-link(itemprop='url', href=url_for(post.path))=post.title
                else
                  - var typeColor = theme.types.link.color
                  - var typeIcon = theme.types.link.icon
                  if post.type in theme.types
                    - typeColor = theme.types[post.type].color
                    - typeIcon = theme.types[post.type].icon
                  a.post-title-link(itemprop='url' href=post.url target='_blank' rel='noopener', style= "color:" + typeColor)
                    +icon(typeIcon)
                    span=post.title

              include ../_partial/post/post-meta.pug
              if post.description
                .post-description=post.description
          .post-card-content.text-center
            .post-card-excerpt.post-markdown!=post.excerpt

          .hty-card__actions.post-card__actions
            .post-card-category
              span.post-meta-item-icon
                +icon('icon-folder-line')
              |  
              if post.categories && post.categories.length && theme.post_meta.categories
                for category, index in post.categories.data
                  if category.name in theme.categories
                    - var categoryColor = theme.categories[category.name]
                  a.category(href=url_for(category.path), style= categoryColor ? `--text-color:${categoryColor}`:'')
                    span(itemprop='text')=category.name
                    - var categoryColor = null

                  - var category_length = post.categories.length
                  if category_length > 1 && index != category_length - 1
                    |  > 
            .post-card-tag
              if post.tags && post.tags.length && theme.post_meta.tags
                for tag in post.tags.data
                  if tag.name in theme.tags
                    - var tagColor = theme.tags[tag.name]
                  a.tag(href=url_for(tag.path, rel='tag'), style= tagColor ? `--text-color:${tagColor}`:'')
                    - tagColor = null
                    span.post-meta-item-icon
                      +icon('icon-price-tag-3-line')
                    span.tag-name!=tag.name
              else
                span.post-meta-item-icon
                  +icon('icon-price-tag-3-line')