a.sidebar-toggle-fixed.hts-icon-button.sidebar-toggle
  button.hamburger(class='hamburger--spin', type='button')
    span.hamburger-box
      span.hamburger-inner

aside#sidebar(class=is_post() ? 'is-post' : '')
  if is_post()
    ul.sidebar-nav
      li.sidebar-nav-item.sidebar-nav-toc.sidebar-nav-active(data-target='post-toc-wrap')=__('sidebar.toc')
      li.sidebar-nav-item.sidebar-nav-overview(data-target='site-overview-wrap')=__('sidebar.overview')

  .site-overview-wrap.sidebar-panel(class= is_post() ? '' : 'sidebar-panel-active')
    .site-overview
      .site-author
        if theme.avatar.url
          img.site-author-image(src=theme.avatar.url, alt=author)
          p.site-author-name
            a(href=url_for('about'))
              | #{author}
          a.site-info(href=url_for('about/site.html'))
            | #{config.title}
          .site-desciption!=config.description
      
      nav.site-state
        a.site-state-item.hts-icon-button.icon-home.mdc-ripple-surface(href=url_for(theme.menu.home.path), title=__('menu.home'))
          span.site-state-item-icon
            +icon(theme.menu.home.icon)
        if site.posts.length > 0
          .site-state-item.site-state-posts
            a(href=url_for(config.archive_dir), title=__('menu.archives'))
              span.site-state-item-icon
                +icon(theme.menu.archives.icon)
              span.site-state-item-count!=site.posts.length
        if site.categories.length > 0
          .site-state-item.site-state-categories
            a(href=url_for(config.category_dir), title=__('menu.categories'))
              span.site-state-item-icon
                +icon(theme.menu.categories.icon)
              span.site-state-item-count!=site.categories.length
        if site.tags.length > 0
          .site-state-item.site-state-tags
            a(href=url_for(config.tag_dir), title=__('menu.tags'))
              span.site-state-item-icon
                +icon(theme.menu.tags.icon)
              span.site-state-item-count!=site.tags.length
        a.popup-trigger.site-state-item.hts-icon-button.icon-search.mdc-ripple-surface(href='javascript:;', title=__('menu.search'))
          span.site-state-item-icon
            +icon('icon-search-line')
      
      hr

      if theme.social
        .links-of-author
          if theme.rss
            a.links-of-author-item.hts-icon-button.mdc-ripple-surface(href=url_for(theme.rss), title='RSS', target='_blank', style='color:orange')
              +icon(theme.rss_icon)
          for social, name in theme.social
            a.links-of-author-item.hts-icon-button.mdc-ripple-surface(href=social.link, title=name, target='_blank', style='color:' + social.color)
              +icon(social.icon)

      if theme.links.enable
        .links-of-friend
          a.hts-icon-button.mdc-ripple-surface(href=url_for(theme.links.url), title=theme.links.title)
            +icon(theme.links.icon)
        
      
  if is_post()
    .post-toc-wrap.sidebar-panel.sidebar-panel-active
      if toc(page.content).length > 1
        .post-toc
          .post-toc-progress
            .progress-bar
            span.progress-notice=__('sidebar.have_read')
            span.progress-num 0
            span.progress-percentage='%'
          .post-toc-content
            !=toc(page.content)
            //- svg.toc-marker(width='200', height='200')
            //-   path(stroke='#444', stroke-width='3', fill='transparent', stroke-dasharray='0, 0, 0, 1000', stroke-linecap='round', stroke-linejoin='round', transform='translate(-0.5, -0.5)')