.sidebar-toggle
  button.hamburger(class='hamburger--spin', type='button')
    span.hamburger-box
      span.hamburger-inner

aside#sidebar(class=is_post() ? 'is-post' : '')
  if is_post()
    ul.sidebar-nav
      li.sidebar-nav-item.sidebar-nav-toc.sidebar-nav-active(data-target='post-toc-wrap')=__('sidebar.toc')
      li.sidebar-nav-item.sidebar-nav-overview(data-target='site-overview-wrap')=__('sidebar.overview')

  .site-overview-wrap.sidebar-panel(class= is_post() ? '' : 'sidebar-panel-active')
    .site-overview
      .site-author
        if theme.avatar.url
          img.site-author-image(src=theme.avatar.url, alt=author)
          p.site-author-name
            a(href=url_for('about'))
              | #{author}
          .site-home
          a(href=url_for())
            | #{config.title}
          .site-desciption!=config.description
      
      nav.site-state
        if config.archive_dir != '/' && site.posts.length > 0
          .site-state-item.site-state-posts
            a(href=url_for(config.archive_dir))
              span.site-state-item-count!=site.posts.length
              span.site-state-item-name!=__('state.posts')
        if site.categories.length > 0
          .site-state-item.site-state-categories
            a(href=url_for(config.category_dir))
              span.site-state-item-count!=site.categories.length
              span.site-state-item-name!=__('state.categories')
        if site.tags.length > 0
          .site-state-item.site-state-tags
            a(href=url_for(config.tag_dir))
              span.site-state-item-count!=site.tags.length
              span.site-state-item-name!=__('state.tags')
      
      hr

      if theme.social
        .links-of-author
          if !theme.rss && config.feed && config.feed.path
            - theme.rss = config.feed.path
          if theme.rss
            span.links-of-author-item
              a(href=url_for(theme.rss), title='RSS', target='_blank', style='color:orange')
                i.fas.fa-rss
                |
                | RSS
          for social, name in theme.social
            span.links-of-author-item
              a(href=social.link, title=name, target='_blank', style='color:' + social.color)
                +icon(social.icon)
                |
                | #{name}

  if is_post()
    .post-toc-wrap.sidebar-panel.sidebar-panel-active
      if toc(page.content).length > 1
        .post-toc
          .post-toc-progress
            .progress-bar
            span.progress-notice=__('sidebar.have_read')
            span.progress-num 0
            span.progress-percentage='%'
          .post-toc-content!=toc(page.content)

