.sidebar-toggle
  button.hamburger(class='hamburger--spin', type='button')
    span.hamburger-box
      span.hamburger-inner

aside#sidebar(class=is_post() ? 'is-post' : '')
  .sidebar-panel
    .site-overview
      .site-author
        if theme.avatar.url
          img.site-author-image(src=theme.avatar.url, alt=author)
          p.site-author-name!= author
          .site-desciption!=description