a#menu-btn.sidebar-toggle.hty-icon-button
  .hamburger(class='hamburger--spin' type='button')
    span.hamburger-box
      span.hamburger-inner

.sidebar-toggle.sidebar-overlay

aside.sidebar
  script(defer, src=url_for(theme.cdn.pre + theme.sidebar.src))
  - var toc_content = toc(page.content, {list_number: theme.toc.list_number, max_depth: theme.toc.max_depth, min_depth: theme.toc.min_depth})
  if is_post()
    ul.sidebar-nav
      li.sidebar-nav-item.sidebar-nav-toc.hty-icon-button(data-target='post-toc-wrap', title=__('sidebar.toc'), class=toc_content ? 'sidebar-nav-active' : '')
        +icon('icon-list-ordered')
      li.sidebar-nav-item.sidebar-nav-overview.hty-icon-button(data-target='site-overview-wrap', title=__('sidebar.overview'), class=toc_content ? '' : 'sidebar-nav-active')
        +icon('icon-passport-line')

  #site-overview-wrap.sidebar-panel(class= is_post() && toc_content.length > 1 ? '' : 'sidebar-panel-active')
    .site-info(class=is_post() ? (theme.avatar.mickey_mouse ? 'mickey-mouse' : 'fix-top') : '')
      if theme.avatar && theme.avatar.url
        a.site-author-avatar(href=url_for('about/'), title=config.author)
          img(width=96, loading='lazy', src=is_url(theme.avatar.url) ? theme.avatar.url : url_for(theme.cdn.pre + theme.avatar.url), alt=config.author)
        .site-author-name
          a(href=url_for('about/'))
            | #{config.author}
        a.site-name(href=url_for('about/site.html'))
          | #{config.title}
        sub.site-subtitle!=config.subtitle
        .site-desciption!=config.description

    nav.site-state
      a.site-state-item.hty-icon-button.icon-home(href=url_for(theme.menu.home.path), title=theme.menu.home.title || __('menu.home'))
        span.site-state-item-icon
          +icon(theme.menu.home.icon)

      for item in theme.menu.list
        if item.type === 'archives'
          - item.title = item.title || __('menu.archives')
          - item.count = site.posts.length
        else if item.type === 'categories'
          - item.title = item.title || __('menu.categories')
          - item.count = site.categories.length
        else if item.type === 'tags'
          - item.title = item.title || __('menu.tags')
          - item.count = site.tags.length
        .site-state-item
          a(href=url_for(item.path), title=item.title)
            span.site-state-item-icon
              +icon(item.icon)
            if item.count !== undefined
              span.site-state-item-count!=item.count

      if theme.menu.custom
        a.site-state-item.hty-icon-button(href=url_for(theme.menu.custom.path), title=theme.menu.custom.title)
          span.site-state-item-icon
            +icon(theme.menu.custom.icon)


    hr(style="margin-bottom:0.5rem")
    if theme.social
      .links-of-author
        for social in theme.social
          if social.color === 'black'
            - social.color = 'var(--hty-text-color)'
          a.links-of-author-item.hty-icon-button(rel='noopener' href=social.link, title=social.name, target='_blank' style='color:' + social.color)
            +icon(social.icon)

    if theme.pages
      hr(style="margin:0.5rem 1rem")
      .links
        for link in theme.pages
          a.links-item.hty-icon-button(href=url_for(link.url), title=link.name, style='color:' + link.color)
            +icon(link.icon)

    if theme.mode === 'auto'
      br
      a#toggle-mode-btn.links-item.hty-icon-button(href='javascript:;' title="Mode" style='color: #f1cb64')
        +icon('icon-contrast-2-line')

  if is_post()
    #post-toc-wrap.sidebar-panel(class=toc_content.length > 1 ? 'sidebar-panel-active' : '')
      .post-toc
        .post-toc-content
          != toc_content.length > 1 ? toc_content : theme.toc.placeholder || __('post.toc_empty')

  if theme.sidebar.tagcloud.enable
    .tag-cloud
      - var start_color = theme.colors.tag_start_color || '#333'
      - var end_color = theme.colors.tag_end_color || theme.colors.primary
      .tag-cloud-tags!= tagcloud({min_font: 12, max_font: 30, amount: theme.sidebar.tagcloud.amount, color: true, start_color, end_color})
